
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<div id="accordion">
	<f:for each="{fAQs}" as="fAQ">
		<h3>{fAQ.frage}</h3>
		<div>
			<p>
				<f:format.html>{fAQ.antwort}</f:format.html>
			</p>
		</div>
	</f:for>
</div>

</f:section>