<p>
	<f:translate key="LLL:EXT:bib/pi1/locallang:xml:import_bibtex_title"/>
</p>

<ul>
	<li>
		<f:translate key="import_bibtex_text.0"/>
	</li>
	<li>
		<f:translate key="LLL:EXT:bib/pi1/locallang:xml:import_bibtex_text.1"/>
	</li>
</ul>