<f:layout name="Inhalt" />

<div class="wrapall">
<f:render partial="Header" arguments="{_all}" />

<div id="content" class="container content">
	<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.subNavi')}">
		<f:then>
			<div class="contentnav">
				<h2 class="visuallyhidden">Subnavigation</h2>
				<f:cObject typoscriptObjectPath="lib.subNavi" />
			</div>
			<div class="maincontent">
				<f:render section="Main" />
			</div>
		</f:then>
		<f:else>
			<div class="maincontent fullwidth">
				<f:render section="Main" />
			</div>
		</f:else>
	</f:if>
	
    
	
	<div class="sidebar">
        <f:render section="Sidebar" />
    </div>
</div>

<f:render partial="Footer" arguments="{_all}" />
</div>