<f:layout name="Inhalt_Ohne_Navigation" />

<div class="wrapall">
    <f:render partial="Header" arguments="{_all}" />

    <div id="content" class="container content">
        <div class="maincontent fullwidth">
            <f:render section="Main" />
        </div>

        <div class="sidebar">
            <f:render section="Sidebar" />
        </div>
    </div>

    <f:render partial="Footer" arguments="{_all}" />
</div>