<f:layout name="Startseite" />

<div class="wrapall">
<f:render partial="Header" arguments="{_all}" />

<div class="container content" id="content">
    <div class="metboard">
        <f:render section="Main" />
    </div>
    <div class=" sidebar">
        <f:render section="Sidebar" />
    </div>
</div>

<f:render partial="Footer" arguments="{_all}" />
</div>