
<h1>Single item block</h1>

<!-- ###ITEM_BLOCK### -->
<div class="tx_bib-item ###ROW_CLASS###">

<!-- ###REFERENCE_WRAP### begin -->

<!-- ###HAS_TITLE### begin -->
    <div class="tx_bib-title">###TITLE###</div>
<!-- ###HAS_TITLE### end -->

<!-- ###HAS_AUTHORS### begin -->
<div class="tx_bib-authors">###AUTHORS###</div>
<!-- ###HAS_AUTHORS### end -->

<!-- ###HAS_MANIPULATORS### begin -->###MANIPULATORS###<!-- ###HAS_MANIPULATORS### end -->

###ITEM_DATA###

<!-- ###HAS_DOI### begin -->
<div class="tx_bib-block">###LABEL_DOI###: ###DOI###</div>
<!-- ###HAS_DOI### end -->

<!-- ###HAS_ISBN### begin -->
<div class="tx_bib-block">###LABEL_ISBN###: ###ISBN###</div>
<!-- ###HAS_ISBN### end -->

<!-- ###HAS_STATE### begin -->
<span class="tx_bib-state">###STATE###</span>
<!-- ###HAS_STATE### end -->

<!-- ###HAS_WEB_URL### begin -->
<div class="tx_bib-url_block">###WEB_URL_SHORT###</div>
<!-- ###HAS_WEB_URL### end -->

<!-- ###HAS_WEB_URL2### begin -->
<div class="tx_bib-url_block">###WEB_URL2_SHORT###</div>
<!-- ###HAS_WEB_URL2### end -->

<!-- ###HAS_KEYWORDS### begin -->
<p class="tx_bib-keywords_block">###LABEL_KEYWORDS### ###KEYWORDS###</p>
<!-- ###HAS_KEYWORDS### end -->

<!-- ###HAS_TAGS### begin -->
<p class="tx_bib-tags_block">###LABEL_TAGS### ###TAGS###</p>
<!-- ###HAS_TAGS### end -->

<!-- ###HAS_ABSTRACT### begin -->
<p class="tx_bib-abstract_block">###LABEL_ABSTRACT### ###ABSTRACT###</p>
<!-- ###HAS_ABSTRACT### end -->

<!-- ###HAS_ANNOTATION### begin -->
<p class="tx_bib-annotation_block">###LABEL_ANNOTATION### ###ANNOTATION###</p>
<!-- ###HAS_ANNOTATION### end -->

<!-- ###HAS_NOTE### begin -->
<p class="tx_bib-note_block">###LABEL_NOTE### ###NOTE###</p>
<!-- ###HAS_NOTE### end -->

<!-- ###REFERENCE_WRAP### end -->
###ITEM_APPEND###

</div>
<!-- ###ITEM_BLOCK### -->




<h1>Specialised item blocks</h1>


<h2>Default</h2>
<!-- ###DEFAULT_DATA### begin -->
<!-- ###HAS_JOURNAL### begin -->###JOURNAL###, <!-- ###HAS_JOURNAL### end -->
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###,<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_BOOKTITLE### begin -->###BOOKTITLE### <!-- ###HAS_BOOKTITLE### end -->
<!-- ###HAS_VOLUME### begin -->###VOLUME### <!-- ###HAS_VOLUME### end -->
<!-- ###HAS_NUMBER### begin-->(###NUMBER###)<!-- ###HAS_NUMBER### end-->
<!-- ###HAS_SERIES### begin -->###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span> <!-- ###HAS_SERIES### end -->
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_CHAPTER### begin -->###LABEL_CHAPTER### <span class="tx_bib-chapter">###CHAPTER###</span>,<!-- ###HAS_CHAPTER### end -->
<!-- ###HAS_PAGES### begin -->###LABEL_PAGE### ###PAGES###.<!-- ###HAS_PAGES### end -->
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end -->
<!-- ###HAS_ADDRESS### begin -->###ADDRESS### <!-- ###HAS_ADDRESS### end -->
<!-- ###HAS_INSTITUTION### begin -->###INSTITUTION###, <!-- ###HAS_INSTITUTION### end -->
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION### <!-- ###HAS_ORGANIZATION### end -->
<!-- ###HAS_SCHOOL### begin -->###SCHOOL### <!-- ###HAS_SCHOOL### end -->
<!-- ###HAS_EDITION### begin -->###EDITION### ###LABEL_EDITION###, <!-- ###HAS_EDITION### end -->
<!-- ###HAS_HOWPUBLISHED### begin -->###HOWPUBLISHED###, <!-- ###HAS_HOWPUBLISHED### end -->
<!-- ###HAS_YEAR### begin -->###YEAR### <!-- ###HAS_YEAR### end -->
<!-- ###HAS_ISBN### begin -->###ISBN### <!-- ###HAS_ISBN### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
<!-- ###HAS_EXTERN### begin -->###EXTERN###<!-- ###HAS_EXTERN### end -->
<!-- ###HAS_MISC### begin -->###MISC### <!-- ###HAS_MISC### end -->
<!-- ###DEFAULT_DATA### end -->



<h2>Article</h2>
<!-- ###ARTICLE_DATA### begin -->
<!-- ###HAS_JOURNAL### begin -->###JOURNAL###, <!-- ###HAS_JOURNAL### end -->
<!-- ###HAS_VOLUME### begin --><span class="tx_bib-bold">###VOLUME###</span><!-- ###HAS_VOLUME### end --><!--
###HAS_NUMBER### begin -->(###NUMBER###)<!-- ###HAS_NUMBER### end --><!--
###HAS_PAGES### begin -->:###PAGES### <!-- ###HAS_PAGES### end -->

<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###HAS_ISSN### begin -->
<div class="tx_bib-block">###LABEL_ISSN###: ###ISSN###</div>
<!-- ###HAS_ISSN### end -->

<!-- ###ARTICLE_DATA### end -->



<h2>Book</h2>
<!-- ###BOOK_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###, <!-- ###HAS_EDITOR### end -->
<!-- ###HAS_VOLUME### begin -->###LABEL_VOLUME### ###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_EDITION### begin -->
<div class="tx_bib-block">###EDITION### ###LABEL_EDITION###</div>
<!-- ###HAS_EDITION### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###BOOK_DATA### end -->



<h2>Inbook</h2>
<!-- ###INBOOK_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###, <!-- ###HAS_EDITOR### end -->
<!-- ###HAS_VOLUME### begin -->###LABEL_VOLUME### ###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_CHAPTER### begin -->###LABEL_CHAPTER### <span class="tx_bib-chapter">###CHAPTER###</span>, <!-- ###HAS_CHAPTER### end -->
<!-- ###HAS_PAGES### begin -->###LABEL_PAGE### ###PAGES###.<!-- ###HAS_PAGES### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>


<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_EDITION### begin -->
<div class="tx_bib-block">###EDITION### ###LABEL_EDITION###</div>
<!-- ###HAS_EDITION### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###INBOOK_DATA### end -->



<h2>Booklet</h2>
<!-- ###BOOKLET_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###, <!-- ###HAS_EDITOR### end -->
<!-- ###HAS_VOLUME### begin -->###LABEL_VOLUME### ###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end -->
</div>

<!-- ###HAS_HOWPUBLISHED### begin -->
<div class="tx_bib-block">###HOWPUBLISHED###</div>
<!-- ###HAS_HOWPUBLISHED### end -->

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<div class="tx_bib-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>

<!-- ###BOOKLET_DATA### end -->



<h2>Conference</h2>
<!-- ###CONFERENCE_DATA### begin -->

<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###,<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_BOOKTITLE### begin -->###BOOKTITLE###<!-- 
	###HAS_BOOKTITLE### end --><!-- ###HAS_VOLUME### begin 
--> ###LABEL_VOLUME### ###VOLUME###<!-- ###HAS_VOLUME### end -->

<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end --><!-- 
###HAS_PAGES### begin -->, ###LABEL_PAGE### ###PAGES###.<!-- ###HAS_PAGES### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION###<!-- ###HAS_ORGANIZATION### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_EDITION### begin -->
<div class="tx_bib-block">###EDITION### ###LABEL_EDITION###</div>
<!-- ###HAS_EDITION### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<div class="tx_bib-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>

<!-- ###CONFERENCE_DATA### end -->



<h2>Incollection</h2>
<!-- ###INCOLLECTION_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###, <!-- ###HAS_EDITOR### end -->
<!-- ###HAS_BOOKTITLE### begin -->###BOOKTITLE###<!-- 
	###HAS_BOOKTITLE### end --><!-- 
	###HAS_VOLUME### begin --> ###LABEL_VOLUME### ###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_CHAPTER### begin -->###LABEL_CHAPTER### <span class="tx_bib-chapter">###CHAPTER###</span>,<!-- ###HAS_CHAPTER### end -->
<!-- ###HAS_PAGES### begin -->###LABEL_PAGE### ###PAGES###.<!-- ###HAS_PAGES### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION###<!-- ###HAS_ORGANIZATION### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_EDITION### begin -->
<div class="tx_bib-block">###EDITION### ###LABEL_EDITION###</div>
<!-- ###HAS_EDITION### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###INCOLLECTION_DATA### end -->



<h2>Proceeding</h2>
<!-- ###PROCEEDINGS_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###,<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_VOLUME### begin --> ###LABEL_VOLUME### ###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end -->
</div>

<!-- ###HAS_EVENT_NAME### begin -->
<div class="tx_bib-block">###EVENT_NAME###</div>
<!-- ###HAS_EVENT_NAME### end -->

<div class="tx_bib-block">
###EVENT_PLACE###<!-- 
###HAS_EVENT_DATE### begin -->, ###EVENT_DATE###<!-- ###HAS_EVENT_DATE### end -->
</div>

<!-- ###HAS_ORGANIZATION### begin -->
<div class="tx_bib-block">###ORGANIZATION###</div>
<!-- ###HAS_ORGANIZATION### end -->

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_EDITION### begin -->
<div class="tx_bib-block">###EDITION### ###LABEL_EDITION###</div>
<!-- ###HAS_EDITION### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###HAS_AFFILIATION### begin -->
<div class="tx_bib-block">###AFFILIATION###</div>
<!-- ###HAS_AFFILIATION### end -->

<!-- ###PROCEEDINGS_DATA### end -->



<h2>Inproceeding</h2>
<!-- ###INPROCEEDINGS_DATA### begin -->

<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###,<!-- ###HAS_EDITOR### end -->
<!-- ###HAS_BOOKTITLE### begin -->###BOOKTITLE###<!-- ###HAS_BOOKTITLE### end -->
<!-- ###HAS_VOLUME### begin --> ###LABEL_VOLUME### ###VOLUME###<!-- ###HAS_VOLUME### end -->
<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end -->
<!-- ###HAS_PAGES### begin -->, ###LABEL_PAGE### ###PAGES###.<!-- ###HAS_PAGES### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION### <!-- ###HAS_ORGANIZATION### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_EDITION### begin -->
<div class="tx_bib-block">###EDITION### ###LABEL_EDITION###</div>
<!-- ###HAS_EDITION### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<div class="tx_bib-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>

<!-- ###INPROCEEDINGS_DATA### end -->



<h2>Manual</h2>
<!-- ###MANUAL_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###,<!-- ###HAS_EDITOR### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION###, <!-- ###HAS_ORGANIZATION### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_EDITION### begin -->
<div class="tx_bib-block">###EDITION### ###LABEL_EDITION###</div>
<!-- ###HAS_EDITION### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<div class="tx_bib-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>

<!-- ###MANUAL_DATA### end -->



<h2>Masterthesis</h2>
<!-- ###MASTERSTHESIS_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_SCHOOL### begin -->###SCHOOL###, <!-- ###HAS_SCHOOL### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###MASTERSTHESIS_DATA### end -->



<h2>PhD Thesis</h2>
<!-- ###PHDTHESIS_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_TYPE### begin -->###TYPE###<!-- ###HAS_TYPE### end -->
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_SCHOOL### begin -->###SCHOOL###, <!-- ###HAS_SCHOOL### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###PHDTHESIS_DATA### end -->



<h2>Techreport</h2>
<!-- ###TECHREPORT_DATA### begin -->
<!-- ###HAS_TYPE### begin -->
<div class="tx_bib-block">###TYPE###</div>
<!-- ###HAS_TYPE### end -->

<!-- ###HAS_NUMBER### begin -->
<div class="tx_bib-block">###LABEL_DOC_NUMBER###: ###NUMBER###</div>
<!-- ###HAS_NUMBER### end -->

<!-- ###HAS_NUMBER2### begin -->
<div class="tx_bib-block">###LABEL_REPORT_NUMBER###: ###NUMBER2###</div>
<!-- ###HAS_NUMBER2### end -->

<!-- ###HAS_AFFILIATION### begin -->
<div class="tx_bib-block">###AFFILIATION###</div>
<!-- ###HAS_AFFILIATION### end -->

<div class="tx_bib-block">
<!-- ###HAS_INSTITUTION### begin -->###INSTITUTION###, <!-- ###HAS_INSTITUTION### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###TECHREPORT_DATA### end -->



<h2>Unpublished</h2>
<!-- ###UNPUBLISHED_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###UNPUBLISHED_DATA### end -->



<h2>Miscellaneous</h2>
<!-- ###MISCELLANEOUS_DATA### begin -->

<!-- ###HAS_AFFILIATION### begin -->
<div class="tx_bib-block">###AFFILIATION###</div>
<!-- ###HAS_AFFILIATION### end -->

<!-- ###HAS_HOWPUBLISHED### begin -->
<div class="tx_bib-block">###HOWPUBLISHED###</div>
<!-- ###HAS_HOWPUBLISHED### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###MISCELLANEOUS_DATA### end -->



<h2>String</h2>
<!-- ###STRING_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_bib-block">
<!-- ###HAS_MISC### begin -->###MISC###<!-- ###HAS_MISC### end -->
</div>
<!-- ###STRING_DATA### end -->



<h2>Poster</h2>
<!-- ###POSTER_DATA### begin -->
<div class="tx_bib-block">
<!-- ###HAS_EDITOR### begin -->In ###EDITOR###, ###LABEL_EDITOR###,<!-- ###HAS_EDITOR### end -->
</div>
<div class="tx_bib-block">
<!-- ###HAS_AFFILIATION### begin -->###AFFILIATION###<!-- ###HAS_AFFILIATION### end -->
</div>
<div class="tx_bib-block">
<!-- ###HAS_ORGANIZATION### begin -->###ORGANIZATION### <!-- ###HAS_ORGANIZATION### end -->
</div>

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###POSTER_DATA### end -->



<h2>Thesis</h2>
<!-- ###THESIS_DATA### begin -->

<!-- ###HAS_TYPE### begin -->
<div class="tx_bib-block">###TYPE###</div>
<!-- ###HAS_TYPE### end -->

<!-- ###HAS_AFFILIATION### begin -->
<div class="tx_bib-block">###AFFILIATION###</div>
<!-- ###HAS_AFFILIATION### end -->

<div class="tx_bib-block">
<!-- ###HAS_SCHOOL### begin -->###SCHOOL###, <!-- ###HAS_SCHOOL### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_INSTITUTE### begin -->
<div class="tx_bib-block">###INSTITUTE###</div>
<!-- ###HAS_INSTITUTE### end -->

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###THESIS_DATA### end -->



<h2>Report</h2>
<!-- ###REPORT_DATA### begin -->

<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end -->

<!-- ###HAS_TYPE### begin -->
<div class="tx_bib-block">###TYPE###</div>
<!-- ###HAS_TYPE### end -->

<!-- ###HAS_NUMBER### begin -->
<div class="tx_bib-block">###LABEL_DOC_NUMBER###: ###NUMBER###</div>
<!-- ###HAS_NUMBER### end -->

<!-- ###HAS_NUMBER2### begin -->
<div class="tx_bib-block">###LABEL_REPORT_NUMBER###: ###NUMBER2###</div>
<!-- ###HAS_NUMBER2### end -->

<!-- ###HAS_AFFILIATION### begin -->
<div class="tx_bib-block">###AFFILIATION###</div>
<!-- ###HAS_AFFILIATION### end -->

<!-- ###HAS_INSTITUTION### begin -->
<div class="tx_bib-block">###INSTITUTION###</div>
<!-- ###HAS_INSTITUTION### end -->

<!-- ###HAS_INSTITUTE### begin -->
<div class="tx_bib-block">###INSTITUTE###</div>
<!-- ###HAS_INSTITUTE### end -->

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###REPORT_DATA### begin -->



<h2>Manuscript</h2>
<!-- ###MANUSCRIPT_DATA### begin -->

<!-- ###HAS_SERIES### begin -->
###LABEL_OF_SERIES### <span class="tx_bib-series">###SERIES###</span>
<!-- ###HAS_SERIES### end -->

<!-- ###HAS_TYPE### begin -->
<div class="tx_bib-block">###TYPE###</div>
<!-- ###HAS_TYPE### end -->

<!-- ###HAS_INSTITUTION### begin -->
<div class="tx_bib-block">###INSTITUTION###</div>
<!-- ###HAS_INSTITUTION### end -->

<!-- ###HAS_INSTITUTE### begin -->
<div class="tx_bib-block">###INSTITUTE###</div>
<!-- ###HAS_INSTITUTE### end -->

<div class="tx_bib-block">
<!-- ###HAS_PUBLISHER### begin -->###LABEL_PUBLISHER### ###PUBLISHER###, <!-- ###HAS_PUBLISHER### end --><!-- 
###HAS_ADDRESS### begin -->###ADDRESS###<!-- ###HAS_ADDRESS### end -->
</div>

<!-- ###HAS_YEAR### begin -->
<div class="tx_bib-block">
<!-- ###HAS_MONTH### begin -->###MONTH###<!-- ###HAS_MONTH### end -->
###YEAR###
</div>
<!-- ###HAS_YEAR### end -->

<!-- ###HAS_AFFILIATION### begin -->
<div class="tx_bib-block">###AFFILIATION###</div>
<!-- ###HAS_AFFILIATION### end -->

<!-- ###MANUSCRIPT_DATA### begin -->

