
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder
<f:section name="main">
	<div class="spalte1">
		<f:cObject typoscriptObjectPath="lib.postitTitel"/>
		<span class="metnewicon">
			<f:link.action action="new" title="<f:cObject typoscriptObjectPath='lib.newTitle' />"><span class="visuallyhidden"><f:cObject typoscriptObjectPath="lib.visuallyNewpostit" /></span></f:link.action>
		</span>
		<f:for each="{postIts}" as="postIt">
			<div class="item">
				<f:if condition="{postIt.bild}">
					<f:image image="{postIt.bild.0}" />
				</f:if>
				<f:if condition="{postIt.imageCollection}">
					<f:image image="{postIt.imageCollection.0}" />
				</f:if>
				<strong>{postIt.titel}</strong>
				<f:format.html>{postIt.nachricht}</f:format.html>
				<span class="metediticon">
					<f:link.action action="edit" title="<f:cObject typoscriptObjectPath='lib.editTitle' />" arguments="{postIt : postIt}"><span class="visuallyhidden"><f:cObject typoscriptObjectPath="lib.visuallyNewpostit" /></span></f:link.action>
				</span>
				<f:comment>
					<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.angemeldet')} == 1">
					<span class="metediticon">
						<f:link.action action="edit" title="<f:cObject typoscriptObjectPath='lib.editTitle' />" arguments="{postIt : postIt}"><span class="visuallyhidden"><f:cObject typoscriptObjectPath="lib.visuallyNewpostit" /></span></f:link.action>
					</span>
					</f:if>
				</f:comment>
			</div>
		</f:for>
	</div>
</f:section>