{namespace s=Sesamnet\Metaspostit\ViewHelpers}

	<label for="titel" class="labeltitel">
		<f:translate key="tx_metaspostit_domain_model_postit.titel"  /> <span class="required">*</span>
	</label>
	<f:form.textfield property="titel" additionalAttributes="{required: 'required'}" />
	<label for="bild" class="labelbild">
		<f:translate key="tx_metaspostit_domain_model_postit.bild" />
	</label>
	<s:form.upload property="bild.0" class="bildupload" >
		<f:if condition="{resource}">
			<f:image image="{resource}" alt="" width="50"/>
		</f:if>
	</s:form.upload>
	<label for="nachricht" class="labelnachricht">
		<f:translate key="tx_metaspostit_domain_model_postit.nachricht" /> <span class="required">*</span>
	</label>
	<div class="rteeditor">
		<f:form.textarea property="nachricht" class="nachricht" id="rtearea" cols="40" rows="15" />
	</div>
