{namespace s=Sesamnet\Offiziellemitteilungen\ViewHelpers}
<label for="titel">
	<f:translate key="tx_offiziellemitteilungen_domain_model_offiziellemitteilung.titel" /> <span class="required">*</span>
</label>
	<f:form.textfield property="titel" additionalAttributes="{required: 'required'}" />
<label for="bild">
	<f:translate key="tx_offiziellemitteilungen_domain_model_offiziellemitteilung.bild" />
</label>
<f:form.upload property="bild.0" class="bildupload" >
	<f:if condition="{resource}">
		<f:image image="{resource}" alt="" width="50"/>
	</f:if>
</f:form.upload>
<label for="nachricht">
	<f:translate key="tx_offiziellemitteilungen_domain_model_offiziellemitteilung.nachricht" /> <span class="required">*</span>
</label>
<div class="rteeditor">
	<f:form.textarea property="nachricht" class="nachricht" id="rtearea" cols="40" rows="15" />
</div>