<f:cObject typoscriptObjectPath="lib.skiplinks" />

<div class="wrapper">
    <div class="header">
        <div class="headerbild"><f:cObject typoscriptObjectPath="lib.headerBild" /></div>
        <div class="links">
            <div class="logo">
                <f:cObject typoscriptObjectPath="lib.logo" />
            </div>
			
			<div class="sprachnavi">
                <h2 class="visuallyhidden"><f:cObject typoscriptObjectPath="lib.visuallySprache" /></h2>
				<f:cObject typoscriptObjectPath="lib.sprachNavi" />
			</div>
			
            <nav class="menu" id="menu">
                <h2 class="visuallyhidden"><f:cObject typoscriptObjectPath="lib.visuallyHauptnavigation" /></h2>
                <f:cObject typoscriptObjectPath="lib.mainNavi" />
            </nav>
        </div>

        <div class="rechts">
            <div class="aktualitaeten">
                <f:cObject typoscriptObjectPath="lib.heuteAktuell" />
            </div>
            <div class="suche">
                <h2 class="visuallyhidden"><f:cObject typoscriptObjectPath="lib.visuallySuche" /></h2>
                <f:comment>
                    <f:cObject typoscriptObjectPath="lib.suchFeld" />
                </f:comment>

                <form action="<f:cObject typoscriptObjectPath='lib.suchlink' />" method="POST" id="suchformular">
                    <input type="text" name="tx_indexedsearch_pi2[search][sword]" id="suchfeld" class="suchfeld" placeholder="Suche"/>
                    <input type="hidden" name="tx_indexedsearch_pi2[action]" value="search" />
                    <f:form.button type="submit" value="" class="suche-btn absenden" id="suchbutton"></f:form.button>
                </form>

            </div>
        </div>
    </div>
</div>