<div class="tx_bib-navi_search">
	{formStart -> f:format.raw()}
	<div class="tx_bib-navi_main_label">{label}<span class="tx_bib-navi_current">&nbsp;</span></div>
	{searchBar -> f:format.raw()}
    <div class="tx_bib-navi_extra_row">
	<div class="tx_bib-navi_search_details">{extraButton -> f:format.raw()}</div>
    </div>
	<div class="tx_bib-float_clear"></div>

	<f:if condition="{advancedSearch}">
		<div class="tx_bib-navi_extra_row">
			<div class="tx_bib-navi_search_details">
				{separatorSelection -> f:format.raw()}
				{ruleSelection -> f:format.raw()}
			</div>
			<div class="tx_bib-float_clear"></div>
		</div>
		<div class="tx_bib-navi_extra_row">
			<div class="tx_bib-navi_search_details">
				{abstractsButton -> f:format.raw()}
				{fullTextButton -> f:format.raw()}
			</div>
			<div class="tx_bib-float_clear"></div>
		</div>
	</f:if>
	{formEnd -> f:format.raw()}
</div>