
<f:layout name="Default" />

This template displays a EDIT form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Edit.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:render partial="FormErrors" arguments="{object:Interesse}" />
<div class="eingabeformular">
	<f:form action="update" enctype="multipart/form-data" name="interesse" object="{interesse}" >
	<f:render partial="Interesse/FormFields" arguments="{interesse:interesse}" />
		<f:form.submit value='<f:translate id="tx_metasinteresse_domain_model_interesse.speichern" />' />
	</f:form>
</div>
</f:section>