
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
	<div class="spalte2">
		<f:cObject typoscriptObjectPath="lib.interessantesTitel"/>

		<f:comment>
			<f:if condition="{f:cObject(typoscriptObjectPath: 'lib.angemeldet')} == 1">
			<span class="metnewicon">
				<f:link.action action="new" title="<f:cObject typoscriptObjectPath='lib.newTitle' />"><span class="visuallyhidden"><f:cObject typoscriptObjectPath="lib.visuallyNewinteresse" /></span></f:link.action>
			</span>
			</f:if>
		</f:comment>


		<f:be.security.ifAuthenticated>
			<span class="metnewicon">
				<f:link.action action="new" title="<f:cObject typoscriptObjectPath='lib.newTitle' />"><span class="visuallyhidden"><f:cObject typoscriptObjectPath="lib.visuallyNewinteresse" /></span></f:link.action>
			</span>
		</f:be.security.ifAuthenticated>

		<f:for each="{interesses}" as="interesse">
			<div class="item">
				<f:if condition="{interesse.bild}">
					<f:image image="{interesse.bild.0}" />
				</f:if>
				<f:comment>
					<f:image src="{interesse.bild.originalResource.originalFile.uid}" alt="" />
				</f:comment>
				<strong>{interesse.titel}</strong>
				<f:format.html>{interesse.nachricht}</f:format.html>
				<f:be.security.ifAuthenticated>
					<span class="metediticon">
						<f:link.action action="edit" title="<f:cObject typoscriptObjectPath='lib.editTitle' />" arguments="{interesse : interesse}"><span class="visuallyhidden"><f:cObject typoscriptObjectPath="lib.editInteresse" /></span></f:link.action>
					</span>
				</f:be.security.ifAuthenticated>
			</div>
		</f:for>
	</div>
</f:section>