/* ------------------------------------------------------ */
/* 
     Autor: sesamnet, Michel Rossier
     Version: 1.0; 

     Index: 
      - Schriften
      - CSS Reset
      - Allgemein
      - Header
      - Aktualitaeten / News
      - Sidebar
      - Footer
      - T3 Suche (Head)
      - Accessibility
      - Unterseite
      - Accordion
      - Dokumenticons
      - Postit
      - Frontend Formular RTE Editor
      - Suche (indexsearch)
      - Widget 
      - Tabelle
      - Print
      
      */
/* ------------------------------------------------------ */


/* ------------------------------------------------------ */
/*SCHRIFTEN*/
/* ------------------------------------------------------ */
/* droid-sans-regular - latin */

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../Fonts/droid-sans-v6-latin-regular.eot');
    /* IE9 Compat Modes */
    
    src: local('Droid Sans'), local('DroidSans'), url('../Fonts/droid-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../Fonts/droid-sans-v6-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    
    url('../Fonts/droid-sans-v6-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    
    url('../Fonts/droid-sans-v6-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('../Fonts/droid-sans-v6-latin-regular.svg#DroidSans') format('svg');
    /* Legacy iOS */
}
/* droid-sans-700 - latin */

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../Fonts/droid-sans-v6-latin-700.eot');
    /* IE9 Compat Modes */
    
    src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('../Fonts/droid-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../Fonts/droid-sans-v6-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    
    url('../Fonts/droid-sans-v6-latin-700.woff') format('woff'),
    /* Modern Browsers */
    
    url('../Fonts/droid-sans-v6-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    
    url('../Fonts/droid-sans-v6-latin-700.svg#DroidSans') format('svg');
    /* Legacy iOS */
}
/* ------------------------------------------------------ */
/* CSS RESET */
/* ------------------------------------------------------ */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-family: sans-serif;
    /* 1 */
    
    -ms-text-size-adjust: 100%;
    /* 2 */
    
    -webkit-text-size-adjust: 100%;
    /* 2 */
}
/**
 * Remove default margin.
 */

body {
    margin: 0;
}
/* HTML5 display definitions
========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    
    vertical-align: baseline;
    /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
    display: none;
}
/* Links
========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */

a {
    background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}
/* Text-level semantics
========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
    font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1,
h2 {
    font-size: 2em;
    margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
/* Embedded content
========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
    border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
    overflow: hidden;
}
/* Grouping content
========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
    margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
/**
 * Contain overflow in all browsers.
 */

pre {
    overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
/* Forms
========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    
    font: inherit;
    /* 2 */
    
    margin: 0;
    /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
    overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
    text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
/* 1 */

input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    
    cursor: pointer;
    /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
    line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    
    padding: 0;
    /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    
    box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0;
    /* 1 */
    
    padding: 0;
    /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
    overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
    font-weight: bold;
}
/* Tables
========================================================================== */
/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
.cf:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}
/* ------------------------------------------------------ */
/* ALLGEMEIN */
/* ------------------------------------------------------ */

body {
    font-family: 'Droid Sans', Arial, sans-serif;
    background-color: #fff;
    font-size: 62.5%;
    background-color: #eef3fa;
}

.wrapall {
background-color: #fff;
max-width: 1400px;
margin: 0 auto;
}

.wrapper {
    overflow: hidden;
    height: 490px;
    position: relative;
}
p,
input,
li,
label,
blockquote {
    margin-top: 0;
    font-size: 1.4em;
}
div > strong {
    font-size: 1.4em;
}
a {
    color: #004a8b;
}
a:hover {
    color: #000;
}
ul {
    padding-left: 0;
}
h3,
h4,
h5,
h6 {
    font-size: 1.6em;
    margin-bottom: 5px;
}
/* ------------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------------ */

.header {
    width: 1400px;
    margin: 0 auto;
    left: 50%;
    margin-left: -700px;
    position: absolute;
    height: 473px;
}
.sprachnavi {
    position: absolute;
    top: 73px;
    right: 480px;
}
.sprachnavi li {
    display: inline-block;
    margin-left: 2px;
    width: 36px;
    text-align: center;
}
.sprachnavi li a {
    text-decoration: none;
    padding: 10px;
}
.sprachnavi li a:hover,
.sprachnavi li.active a {
    background-color: #ccddea;
}
.headerbild {
    position: absolute;
    z-index: 0;
    top: 146px;
    left: 0;
    width: 930px;
}
.headerbild img {
    width: 930px;
    height: 100%;
}
.container {
    width: 1024px;
    margin: 0 auto;
}
.logo {
    margin-top: 38px;
    padding-left: 190px;
}
.links {
    width: 930px;
    float: left;
}
.rechts {
    width: 470px;
    float: left;
    background-color: #ccddea;
    height: 465px;
}
/* ------------------------------------------------------ */
/* AKTUALITAETEN NEWS */
/* ------------------------------------------------------ */

.aktualitaeten {
    margin-top: 145px;
    width: 217px;
    padding-left: 20px;
}
/* Fadein auf Startseite */

#page-2 .aktualitaeten {
    position: relative;
    -webkit-animation: fadein 1000ms;
    -moz-animation: fadein 1000ms;
    -ms-animation: fadein 1000ms;
    -o-animation: fadein 1000ms;
    animation: fadein 1000ms;
}
@keyframes fadein {
    from {
        opacity: 0.01;
        right: 45px;
    }
    to {
        opacity: 1;
        right: 0;
    }
}
@-moz-keyframes fadein {
    from {
        opacity: 0.01;
        right: 45px;
    }
    to {
        opacity: 1;
        right: 0;
    }
}
@-webkit-keyframes fadein {
    from {
        opacity: 0.01;
        right: 45px;
    }
    to {
        opacity: 1;
        right: 0;
    }
}
@-ms-keyframes fadein {
    from {
        opacity: 0.01;
        right: 45px;
    }
    to {
        opacity: 1;
        right: 0;
    }
}
@-o-keyframes fadein {
    from {
        opacity: 0.01;
        right: 45px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}
.aktualitaeten h2,
.aktualitaeten p {
    color: #005597;
}
.aktualitaeten h2 {
    font-size: 2.2em;
    font-weight: normal;
}
.aktualitaeten p {
    font-size: 1.4em;
}
.suche {
    background-color: #a3c0d7;
    height: 78px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 470px;
}
.menu {
    margin-top: 299px;
    background-color: #005597;
    padding-left: 188px;

}
.menu ul {
    padding-left: 0;
    margin-left: 45px;
}
.menu ul li {
    display: inline;
    font-size: 1.5em;
}
.menu ul li a {
    color: #fff;
    padding: 30px 10px;
    display: inline-block;
    text-decoration: none;
        height: 78px;
}
.menu ul li a:hover,
.menu li.active a {
    background-color: #fff;
    color: #005597;
}
.content {
    padding-left: 45px;
    padding-top: 25px;
}
.metboard {
    width: 700px;
    float: left;
}
.content h1,
.content h2 {
    font-size: 2.2em;
    color: #005597;
    padding-bottom: 10px;
    border-bottom: 2px solid #005597;
    margin-bottom: 25px;
}
/* ------------------------------------------------------ */
/* SIDEBAR */
/* ------------------------------------------------------ */

.sidebar {
    width: 218px;
    float: left;
    padding-left: 18px;
}
.sidebar h3 a:first-child {
    /* font-size: 1.4em !important; */
    
    background-color: #ccddea;
    color: red;
    border-bottom: 1px solid #005597;
    padding: 5px;
    text-align: center;
    font-weight: normal;
    display: block;
    text-decoration: none;
}
.sidebar h3 a:first-child:hover {
    color: #000;
}
.sidebar .item {
    margin-bottom: 40px;
}
.phone {
    padding-bottom: 4px;
}
.phone:after {
    content: "";
    display: block;
    background: url("../Images/telefon.png") no-repeat;
    width: 20px;
    height: 15px;
    float: left;
    margin: 0 2px 0 0;
}
.sidebar a[href^="mailto:"]:after {
    content: "";
    display: inline-block;
    background: url("../Images/email.png") no-repeat;
    width: 20px;
    height: 15px;
    float: left;
    margin: 0 2px 0 0;
}
.meistgesuchte {
    padding-left: 0;
    margin-left: 0;
}
.meistgesuchte li {
    list-style-type: none;
    font-size: 1.2em;
    position: relative;
    padding: 5px 0 5px 2px;
}
.meistgesuchte li a {
    text-decoration: none;
}
.meistgesuchte li a:before {
    content: "";
    display: block;
    background: url("../Images/linkpfeil.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 2px 0 0;
}
/* ------------------------------------------------------ */
/*FOOTER*/
/* ------------------------------------------------------ */

.footer {
    clear: both;
    background-color: #e4e4e4;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer .container {
    padding-left: 45px;
    padding-right: 45px;
}
.footer a {
    text-decoration: none;
}
.footer p,
.footer ul {
    margin-bottom: 0;
    padding: 0;
    margin-top: 0;
}
.footer p {
    float: left;
    width: 300px
}
.footer ul {
    float: right;
    width: 300px;
    text-align: right;
}
.footer ul li {
    display: inline;
    text-align: right;
    margin-left: 10px;
}
/* ------------------------------------------------------ */
/*T3 SUCHE/FORMULAR*/
/* ------------------------------------------------------ */

#suchformular {
    width: 200px;
    float: left;
    margin-bottom: 0;
    position: relative;
    margin: 25px 0 0 20px;
}
.srksuche,
.suche {
    cursor: text;
}
.suche {
    float: left;
}
.metatop .right {
    min-width: 410px;
}
#suchfeld {
    width: 100%;
    float: left;
    /* background-image: url(../Images/lupe.png); */
    
    background-repeat: no-repeat;
    background-position: right 3px;
    padding-left: 30px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    border: 1px #dedede solid;
}
.absenden {
    width: 20px;
    height: 20px;
    background-image: url(../Images/lupe.png);
    background-repeat: no-repeat;
    background-position: 3px 3px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    right: 10px;
    border: 0;
    text-indent: 210%;
    overflow: hidden;
}
.fehlermeldung {
    margin-bottom: 20px;
}
.fehlermeldung li {
    list-style: none;
    color: red;
}
/* ------------------------------------------------------ */
/* ACCESSIBILITY */
/* ------------------------------------------------------ */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.skiplinks {
    display: block;
    left: -3000px;
    width: 0px;
    position: absolute;
    height: 0px;
    z-index: 100;
}
.skiplinks a:focus {
    color: #AE0F0A;
    left: 3030px;
    top: 8px;
    position: absolute;
    width: 15em;
    height: auto;
    display: block;
    border: 1px solid #AE0F0A;
    background-color: #fff;
    padding: 5px;
}
a:focus {
    outline: 1px dotted #444;
}
.menu a:focus {
    outline: 1px dotted #fff;
}
.spalte1,
.spalte2,
.spalte3 {
    width: 220px;
    float: left;
    margin-right: 20px;
    position: relative;
}
.spalte3 {
    margin-right: 0;
}
.metboard .item {
    min-height: 280px;
    margin-bottom: 20px;
    padding: 20px;
    width: 220px;
    position: relative;
    overflow: hidden;
}
.metboard .item img {
    margin-left: -20px;
    margin-top: -20px;
    margin-bottom: 15px;
    max-width: 220px;
    height: auto;
}
.metboard .item a {
    word-wrap: break-word;
}
.metboard .item p,
.metboard .item h2,
.metboard .item h3 {
    font-size: 1.4em;
    margin-top: 0;
}
.metboard .item h2,
.metboard .item h3 {
    margin-bottom: 2px;
}
.spalte1 .item {
    border-bottom: 5px solid #f39200;
    background-color: #fffaad;
}
.spalte2 .item {
    border-bottom: 5px solid #e30613;
    background-color: #f3f6f8;
}
.spalte3 .item {
    border-bottom: 5px solid #005597;
    background-color: #f3f6f8;
}
/* ------------------------------------------------------ */
/* UNTERSEITE */
/* ------------------------------------------------------ */

.contentnav {
    width: 237px;
    float: left;
}
.maincontent {
    width: 466px;
    float: left;
    margin-bottom: 30px;
}
.maincontent.fullwidth {
    width: 700px;
}
.maincontent h2 {
    border-bottom: 0;
    color: #000;
    font-size: 1.7em;
    margin-bottom: 5px;
    padding-bottom: 0;
}
.maincontent ul {
    margin-left: 20px;
    margin-bottom: 25px;
}
.maincontent ul li {
    margin-bottom: 4px;
}
.contentnav ul {
    width: 200px;
    margin-top: 0;
    margin-bottom: 25px;
}
.contentnav ul,
.contnetnav ul li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
.contentnav a {
    text-decoration: none;
    background-color: #f3f6f8;
    display: block;
    padding: 8px 10px;
}
.contentnav a:hover,
.contentnav li.active > a {
    background-color: #005597;
    color: #fff;
}
.contentnav ul ul {
    padding-left: 20px;
}
.contentnav ul ul a {
    font-size: 0.7em;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
}
.contentnav ul ul a:hover,
.contentnav ul ul li.active a {
    color: #005597;
    font-weight: bold;
    background-color: #fff;
}
.contentnav .havesub{
    position: relative;
}
.havesub a:after {
    content: "";
    background: url("../Images/pfeil-down-blau.png") no-repeat;
    width: 10px;
    height: 7px;
    position: absolute;
    right: 12px;
    top: 12px;
}

.havesub a:hover:after {
    content: "";
    background: url("../Images/sub.png") no-repeat;
    width: 10px;
    height: 7px;
    position: absolute;
    right: 12px;
    top: 12px;
}

.sub {
    position: relative;
}
.sub a:after {
    content: "";
    background: url("../Images/sub.png") no-repeat;
    width: 10px;
    height: 7px;
    position: absolute;
    right: 12px;
    top: 12px;
}
.item p {
    margin-bottom: 0px;
}
/* ------------------------------------------------------ */
/* ACCORDION */
/* ------------------------------------------------------ */

#accordion h3 {
    background: #CCDDEA;
    font-weight: bold;
}
#accordion h3 {
    outline: none;
}
#accordion .ui-accordion-header {
    font-size: 1.2em;
}
.ui-accordion-content p {
    font-size: 1.2em;
}
/* ------------------------------------------------------ */
/* DOKUMENTICONS */
/* ------------------------------------------------------ */

.maincontent ul.csc-uploads {
    padding-left: 0;
    margin-left: 0;
}
ul.csc-uploads li {
    margin-top: 0;
}
a[href$=".pdf"] {
    padding: 5px 0;
    display: inline-block;
    text-decoration: none;
}
a[href$=".pdf"]:after {
    content: "";
    display: inline-block;
    background: url("../Images/pdf.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 2px 0 0;
}
a[href$=".doc"],
a[href$=".docx"],
a[href$=".dotx"],
a[href$=".dot"] {
    padding: 5px 0;
    display: inline-block;
    text-decoration: none;
}
a[href$=".doc"]:after,
a[href$=".docx"]:after,
a[href$=".dotx"]:after,
a[href$=".dot"]:after {
    content: "";
    display: inline-block;
    background: url("../Images/word.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 2px 0 0;
}
a[href$=".ppt"],
a[href$=".pptx"],
a[href$=".pot"],
a[href$=".potx"] {
    padding: 5px 0;
    display: inline-block;
    text-decoration: none;
}
a[href$=".ppt"]:after,
a[href$=".pptx"]:after,
a[href$=".pot"]:after,
a[href$=".potx"]:after {
    content: "";
    display: inline-block;
    background: url("../Images/powerpoint.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 2px 0 0;
}
a[href$=".xls"],
a[href$=".xlsx"],
a[href$=".xlt"],
a[href$=".xltx"] {
    padding: 5px 0;
    display: inline-block;
    text-decoration: none;
}
a[href$=".xls"]:after,
a[href$=".xlsx"]:after,
a[href$=".xlt"]:after,
a[href$=".xltx"]:after {
    content: "";
    display: inline-block;
    background: url("../Images/excel.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 2px 0 0;
}

.contenttable a[href$=".pdf"] {
	text-decoration: underline;
}

.contenttable a[href$=".pdf"]:after {
	display: none;
}

.contenttable a[href$=".doc"],
.contenttable a[href$=".docx"],
.contenttable a[href$=".dotx"],
.contenttable a[href$=".dot"] {
	text-decoration: underline;
	}

.contenttable a[href$=".doc"]:after,
.contenttable a[href$=".docx"]:after,
.contenttable a[href$=".dotx"]:after,
.contenttable a[href$=".dot"]:after {
	display: none;
}

.contenttable a[href$=".ppt"],
.contenttable a[href$=".pptx"],
.contenttable a[href$=".pot"],
.contenttable a[href$=".potx"] {
	text-decoration: underline;
	}

.contenttable a[href$=".ppt"]:after,
.contenttable a[href$=".pptx"]:after,
.contenttable a[href$=".pot"]:after,
.contenttable a[href$=".potx"]:after {
	display: none;
}

.contenttable a[href$=".xls"],
.contenttable a[href$=".xlsx"],
.contenttable a[href$=".xltx"],
.contenttable a[href$=".xlt"] {
	text-decoration: underline;
}

.contenttable a[href$=".xls"]:after,
.contenttable a[href$=".xlsx"]:after,
.contenttable a[href$=".xltx"]:after,
.contenttable a[href$=".xlt"]:after {
	display: none;
}




/* ------------------------------------------------------ */
/* Postit */
/* ------------------------------------------------------ */

.metboard a.frontEndEditIconLinks {
    position: absolute;
}
.metnewicon {
    position: absolute;
    right: 0;
    top: 15px;
}
.metnewicon a {
    background-image: url("../Images/hinzufuegen.png");
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    width: 20px;
    height: 20px;
    text-align: right;
}
.metnewicon a span {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
.metediticon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: none;
}

.item:hover .metediticon {
    display: block;
}
.metediticon a {
    background-image: url("../Images/editieren.png");
    background-repeat: no-repeat;
    background-position: right top;
    display: block;
    width: 20px;
    height: 20px;
    text-align: right;
}
.metediticon a span {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}
/* ------------------------------------------------------ */
/* Frontend Formular RTE */
/* ------------------------------------------------------ */

.metboard form {
    width: 440px;
}
.metboard form {
    margin-bottom: 80px;
}
.metboard label {
    width: 140px;
    float: left;
}
.metboard input {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #000;
    width: 250px;
    padding: 5px;
}
.metboard textarea {
    width: 250px;
    height: 240px;
    margin-bottom: 10px;
    border: 1px solid #000;
    padding: 5px;
    font-size: 1.4em;
}
.metboard form img {
    float: left;
    position: relative;
    top: -4px;
}
input.bildupload {
    border: 0;
    background-color: transparent;
}
.rteeditor {
    width: 250px;
    float: left;
    margin-bottom: 10px;
    font-size: 1.4em;
}
.rteeditor + input {
    background-color: #005597;
    margin-left: 140px;
    color: #fff;
    padding: 8px 12px;
    border: 0;
    width: 100px;
}


/* ------------------------------------------------------ */
/* SUCHE */
/* ------------------------------------------------------ */

.tx-indexedsearch-icon {
    display: none;
}
.tx-indexedsearch-rules {
    display: none;
}
.tx-indexedsearch-searchbox form p {
    display: none;
}
.browsebox:nth-child(2) {
    display: none;
}
#tx_indexedsearch {
    margin-bottom: 30px;
}
.tx-indexedsearch-title {
    padding-bottom: 10px;
}
.tx-indexedsearch-searchbox-sword {
    margin-left: 10px;
    padding: 5px;
}
.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr {
    font-style: normal;
    font-size: 1.4em;
    padding-bottom: 10px;
}
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup {
    color: #005597;
}
.tx-indexedsearch-searchbox-button {
    background-color: #005597;
    color: #fff;
    padding: 8px 12px;
    border: 0;
    width: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
.tx-indexedsearch-res .tx-indexedsearch-res {
    margin-left: -4px;
    padding-bottom: 10px;
}
.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info {
    background-color: #ccddea;
    padding: 5px;
    font-size: 1.4em;
}
.tx-indexedsearch-percent {
    display: none;
}
.tx-indexedsearch-whatis,
.tx-indexedsearch-title {
    font-size: 1.4em;
}
/* ------------------------------------------------------ */
/* WIDGET */
/* ------------------------------------------------------ */

.tx-snfaq .ui-widget {
    font-family: 'Droid Sans', Arial, sans-serif;
}
.tx-snfaq {
    margin-bottom: 25px;
}
.tx-snfaq .ui-accordion-header {
    border-bottom: 1px solid #005597;
    border-radius: 0;
    color: #000;
}
.tx-snfaq .ui-accordion-content {
    border-radius: 0;
}
/* ------------------------------------------------------ */
/* TABELLE */
/* ------------------------------------------------------ */

.contenttable {
    margin-bottom: 25px;
}
.contenttable,
.contenttable td,
.contenttable th {
    border: 1px solid #005597;
}
.contenttable td,
.contenttable th {
    padding: 5px 9px;
    font-size: 1.3em;
    text-align: left;
}

/* ------------------------------------------------------ */
/* 1px Fix - CI */
/* ------------------------------------------------------ */

.headerbild img, .headerbild, .links {width: 933px;}
.rechts, .suche {width: 467px;}
#suchformular {margin: 25px 0 0 18px;}
.aktualitaeten {padding-left: 18px;}
.footer ul {margin-right: 16px;}





/* ------------------------------------------------------ */
/* BIB Konfiguration
/* ------------------------------------------------------ */
div.tx_bib-list_container {
    margin-left: 0px !important;
}

div.tx_bib-list .tx_bib-item {
    padding: 10px 0px;
    border-bottom: 1px solid lightgrey;
}

div.tx_bib-list .tx_bib-title a {
    text-decoration: none;
    font-style: normal;
}

div.tx_bib-list .tx_bib-manip a, div.tx_bib-navi_new .tx_bib-manip a {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

table.tx_bib-single_item {
    width: 100%;
    font-size: 1.4em;
}

table.tx_bib-single_item > tbody > tr > td, table.tx_bib-single_item > tbody > tr > th {
    padding: 8px 8px;
}

table.tx_bib-single_item > tbody > tr {
    border-top: 1px solid #ddd;
}

table.tx_bib-single_item > tbody > tr > td > p > a {
    font-size: 14px;
}


.tx_bib-keywords_block, .tx_bib-abstract_block, .tx_bib-annotation_block {
    display: none;
}
tx_bib-searchnav_extra {
	width: 100%;	
}

.bildupload {
    height: 50px;
}
