/* ------------------------------------------------------ */
/* PRINT */
/* ------------------------------------------------------ */
/*
*,
*:before,
*:after,
*:first-letter,
*:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
}
*/

thead {
    display: table-header-group;
}

tr,
img {
    page-break-inside: avoid;
}

p,
h2,
h3 {
    orphans: 3;
    widows: 3;
}

h2,
h3 {
    page-break-after: avoid;
}

.wrapper {
    height: 200px;
}

p {
    font-size: 1.8em;
}

.sprachnavi,
.menu,
.headerbild,
.rechts,
.sidebar,
.footer,
.contentnav {
    display: none !important;
}

.maincontent {
    width: 100% !important;
}

.tx-snfaq .ui-accordion-content {
    display: block !important;
    margin-bottom: 15px !important;
    border: 0 !important;
}

a[href$=".pdf"]:after,
a[href$=".doc"]:after,
a[href$=".docx"]:after,
a[href$=".ppt"]:after,
a[href$=".pptx"]:after,
a[href$=".xls"]:after,
a[href$=".xlsx"]:after {
    display: none;
}