<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers">

    <f:layout name="Inhalt_Ohne_Navigation"/>

    <f:section name="Configuration">

        <flux:form id="foo" label="Inhalt ohne Navigation">
            <!-- Backend layout grid (TYPO3 6.x and greater only) -->
            <flux:grid>
                <flux:grid.row>
                    <flux:grid.column colPos="0" name="Inhalt" label="Inhalt"/>
                    <flux:grid.column colPos="2" name="Sidebar" label="Sidebar" />
                </flux:grid.row>
            </flux:grid>
        </flux:form>

    </f:section>

    <f:section name="Main">
        <v:content.render column="0"/>
    </f:section>

    <f:section name="Sidebar">
        <v:content.render column="2" slide="-1" />
    </f:section>

</div>